/* setting up the body and font details*/
body {
    font-family: Arial, sans-serif;
    font-size: 12pt;
    background-color: #B98EA7;
    margin: 18pt;
    padding-bottom: 150px;
    min-height: 80vh;
}
h1 { 
    font-size:22pt;
    color: #4C243B;
    font-weight: bold;
}

h2 { 
    font-size:18pt;
    color: #F0D3F7;
}

h3 { 
    font-size:16pt;
    color: #302F4D; 
}

p {
    font-size: 12pt;
    color: #120D31;
}
/* setting up the link details and hover details*/
a:link {
    color: #4C243B;
}

a:visited {
    color: #194cd8;
}

a:hover { 
    color: #009acd;
}

/* setting up the table details*/
table {
    width: 100%;
    border-collapse: collapse;
}

td { 
    padding: 10px;
    border: 1px solid #000000;
}

div.text {
    padding: 10x;
}

div.links {
    padding: 10px;
}
/* setting up the button details*/
button {
    margin: 10px;
    padding: 8px 16px;
    font-size: 1em;
    cursor: pointer;
}

#media figcaption {
    font-style: italic;
    font-size: 0.9em;
    color: #000000;
}

.accessible-img {
    width: 125px;  
    height: auto;
    margin: 10px;
    display: inline-block;
    border: 2px solid #ccc;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 30px;
}

nav li {
    list-style: none;
    margin: 0 15px;
}
/* setting up navigation bar details*/
nav a {
    text-decoration: none;
    font-size: 20pt;
    padding: 10px 20px;
    color: #4C243B;
    transition: all 0.3s ease;
}

nav a:hover {
    color: #009acd;
    background-color: #F0D3F7;
    border-radius: 5px;
}


section {
    text-align: center;
}
/* setting up the form details*/
form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    margin-bottom: 100px;
}
/* setting up the image details and spacing*/
.accessible-img {
    width: 125px;
    height: auto;
    margin:10px;
    margin-bottom: 75px;
    display: inline-block;
    border: 2px solid #ccc;
}

#image-section {
    margin-bottom: 150px;
    padding-bottom: 50px;
}

#image-section button {
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 20px 40px;
}

audio {
    display: block;
    margin: 0 auto;
}
/* setting up the footer details and fixing the spacing*/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #4C243B;
    color: #F0D3F7;
    padding: 5px 0;
    text-align: center;
    border-top: 1px solid #F0D3F7;
    height: 50px;
}
.references {
    margin-bottom: 100px;
}

