body {
    font-family: Arial, sans-serif;
    font-size: 12pt;
    background-color: #d86488;
    margin: 18pt;
}
h1 { 
    font-size:22pt;
    color: #b6a813;
    font-weight: bold;
}

h2 { 
    font-size:18pt;
    color: #f9d4a2;
}

h3 { 
    font-size:16pt;
    color: #e59e41; 
}

p {
    font-size: 12pt;
    color:#0ef10e;
}

a:link {
    color: #0ee4b2;
}

a:visited {
    color: #194cd8;
}

a:hover { 
    color: #009acd;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td { 
    padding: 10px;
    border: 1px solid #000000;
}

div.text {
    padding: 10x;
}

div.links {
    padding: 10px;
}