body {
    font-family: Arial, sans-serif;
    font-size: 12pt;
    background-color: #d86488;
    margin: 18pt;
}



h1 { 
    font-size:22pt;
    color: #fee6ef;
}

h2 { 
    font-size:18pt;
    color: #f9d4a2;
}

h3 { 
    font-size:16pt;
    color: #b4c2e4; 
}

paragraph {
    font-size: 12pt;
    color:#c7b68b;
}

a:link {
    color: #6199fa;
}

a:visited {
    color: #005eff;
}

a:hover { 
    color: #29b6e6;
}

a:active {
    color: #b8edff;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td { 
    padding: 10px;
    border: 1px solid #ccc;
}

div.text {
    padding: 10x;
}

div.links {
    padding: 10px;
}